anyio==4.8.0
asttokens==3.0.0
attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
chromaterm==0.10.7
click==8.0.4
cmlutils==2.3.0
colorama==0.4.6
commonmark==0.9.1
decorator==5.1.1
eve-ng @ git+file:///Users/mucholoco/evengsdk@c6df69a1ec7070dc8a9f6f3839f8f5ef076da641
exceptiongroup==1.2.2
executing==2.1.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
ipdb==0.13.13
ipython==8.31.0
jedi==0.19.2
Jinja2==3.0.3
jsonschema==4.3.3
libtmux==0.40.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mypy==1.14.1
mypy-extensions==1.0.0
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.48
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyrsistent==0.20.0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
rich==10.16.2
sniffio==1.3.1
stack-data==0.6.3
tabulate==0.9.0
tomli==2.2.1
traitlets==5.14.3
types-PyYAML==6.0.12.20241230
types-tabulate==0.9.0.20241207
typing_extensions==4.12.2
urllib3==2.3.0
virl2_client==2.8.0
wcwidth==0.2.13
